.add {
  background-color: #9C27B0 !important;
      color: white !important;
      font-weight: bold;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}