.title{
    color: #02095c !important;
    padding: 10px;
  }
  /* .nav-item.active span {
    background-color: #02095c !important; 
    color: white !important;
  } */
  .nav-link{
    color: #02095c !important;
    font-weight: bold;
  }
  .nav-tabs{
    margin-top: 3px;
  }
  .add{
    background-color: #1eaeca !important;
    color: white !important;
    font-weight: bold;
  }