.globalSearch{
    font-size: smaller;
    height: calc(100vh - 60px);
}
.global{
    /* border: solid 2px rgb(219, 218, 218);
    border-radius: 10px;
    height: 90%; */
    width: 100%;
}
.history{
    border-right: solid 1px rgb(219, 218, 218);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden
}
.searchList{
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.searchContent{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden
}
.searchList:hover{
    color: blue;
    cursor: pointer;
}
.searchGroup{
    padding: 12px;
    background: white;
    border-radius: 20px;
    border: none;
}
.searchGroup input{
 border: none;
 background: transparent;
}
.searchGroup .btn{
background: lightgray;
border-radius: 20px !important;
}
.searchGroup input:focus{
 box-shadow: none;
}