.inputForms.open{
  width: 300px !important;
  box-shadow:10px -6px 20px 8px rgba(0, 0, 0, 0.2);
  background-color: white !important;
  position: fixed;
}
.inputForms{
  width: 0px !important;
  margin-right: 0px !important;
  z-index: 1999;
  min-height: 100vh;
  transition: all .5s ease;
  position: sticky;
  top:0%;
  right: 0;
  overflow-y: auto;
  overflow-x: auto;
  height: 100vh;
  position: fixed;
}

.input_div{
  position: fixed;
  bottom: 8px;
}

.input-search{
  padding: 7px;
  border: 2px solid #afafaf;
  border-radius: 10px;
  width: 17rem;
}