.error-text {
    color: red;
    font-size: 0.875em;
}
.otp-input {
    width: 100px; /* Adjust width as needed */
    height: 38px; /* Adjust height as needed */
    font-size: 14px; /* Adjust font size as needed */
}
.required-asterisk {
    color: red;
    margin-left: 2px; /* Adjust spacing between the label text and the asterisk */
    font-size: 1.1em; /* Adjust size if needed */
    vertical-align: middle; /* Adjust vertical alignment */
}