.error-text {
    color: red;
    font-size: 0.875em;
}
.otp-input {
    width: 100px; /* Adjust width as needed */
    height: 38px; /* Adjust height as needed */
    font-size: 14px; /* Adjust font size as needed */
}