/* New css */
/* login */
.img_side_login {

  display: flex;
  align-items: end;
  justify-content: center;
  height: 40%;
  align-self: end;


}

.img_side_login img {
  height: 250px;
  width: 250px;
  mix-blend-mode: darken;
}


.logo_left_bgcolor {
  background-color: var(--color-secondary);
}

.logo_left {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.login_background {
  /* / background: #ee07553d; / */
  background: var(--color-light);
}

.logo_left_textsize {
  font-size: 1.5rem;
  font-weight: bold;
}

.login_logo {
  height: 134px;
  width: 172px;
  object-fit: contain;
}


/* Login old css */
div.main{
    background: #0264d6;
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%);
background: --webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a));
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%);
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%);
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%);
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 );
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	--webkit-appearance: none;
}

input:focus{
  outline: none !important;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}

/* #login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	padding: 0 16px;
	width: 200px;
} */

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* / margin-bottom: 2em; / */
  text-transform: uppercase;
  padding: 5px 20px;
  height: 30px;
}
.form-control-login{
  border-color: #cecccc;
}
#login form input[type="submit"]:hover {
	background-color: #d44179;
}
p{
  margin-bottom: 0px !important;
}

/* #login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
} */

/* #login form input:focus .input-container{
  outline: 2px solid #d44179;
} */

.login-background{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position-y: center !important;
}

.login-container{
  right:10vh;
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
}

#login{
  padding: 30px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 20px;
    background: linear-gradient(25deg, #ba47ff, #f1a0a0ab 100%);
}
.login_field_part{
  box-shadow: 3px 3px 7px 1px #9d9d9d;
  border: none;
}

 /* login menu  */
.login-menu{
  font-weight: normal !important;
  border: 2px solid #c5c5c5;
  border-radius: 30px !important;
  padding: 2px;

  /* margin-left: 6rem !important;
  margin-right: 6rem !important; */
}


.nav-pills .nav-link-login{
  border-radius: 30px !important;
  padding: 5px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: normal !important;
}
.nav-link-login{
  display: block;
  color: black;
  text-decoration:none !important;
  font-size: 15px;
}

.nav-link-login.active{
  color: white !important;
  background-color: #0d6efd !important;
}
.nav-link-login:hover{
  background-color: #0d6efd !important;
  color: white !important;
}
.loginBtn{
  background-color: #6e06a7 !important;
  color: white;
}
.loginBtn:hover{
  background-color: #6e06a7 !important;
  color: white;
}
.cardView{
  background:linear-gradient(100deg, #e0e0e0,#e0e0e0 100%);
}